.s {
  width: 15;
  height: 15;
  rx: 3;
  ry: 3;
  fill: yellow
}

.h {
  width: 16;
  height: 16;
  rx: 4;
  ry: 4;
  fill: red
}

.tap {
  fill: blue;
  opacity: 0.2;
  rx: 25;
  ry: 25;
}

.apple {
  width: 15;
  height: 15;
  rx: 7;
  ry: 7;
  fill: green
}
